name = "bom-pricer-api"
main = "api/worker.js"
compatibility_date = "2024-01-01"

[[d1_databases]]
binding = "DB"
database_name = "bom_pricer"
database_id = "6a3654ab-3daf-4922-acab-150b0ae86aee"

[triggers]
crons = ["0 */6 * * *"]  # every 6 hours
